<div class='jumbotron' style='text-align: center; margin-top: 50px'>
  <h1>Pay me Pitos!</h1>
  <%= link_to 'Pay', new_payment_path, data: { turbolinks: false }, class: 'btn btn-primary', role: 'button', remote: false %>
</div>


<div class='jumbotron table-container'>
  <%- model_class = Payment -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:payment_id) %></th>
        <th>Payment link</th>
        <th><%= model_class.human_attribute_name(:status) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.id %></td>
          <td><%= payment.payment_id %></td>
          <td><%= payment.status == 'pending' ? link_to('link', payment_path(payment.id), data: {turbolinks: false}) : nil %></td>
          <td><%= payment.status %></td>
          <td><%=l payment.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
